body {
    max-width: 810px;
    margin: auto;
}

h1 {
    font-family: Open Sans, sans-serif;
    font-size: 36pt;
    font-weight: 300;
}

section {
    margin-bottom: 40px;
}

#gallery ul {
    list-style-type: none;
    margin: auto;
    padding: 1px;
}

#gallery li {
    margin-bottom: 1px;
}

#gallery img {
    display: block;
}
