header, nav, section {
    max-width: 810px;
    margin: auto;
}

h1 {
    font-family: Open Sans, sans-serif;
    font-size: 36pt;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
    float: left;
    margin: 0;
    width: 100px;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: block;
    margin-right: 1px;
    background: #eeeeee;
    color: #000000;
    padding: 10px;
}

nav a.target {
    background: #fc3c76;
    color: #ffffff
}

section {
    clear: both;
    padding: 20px 0;
}

#gallery ul {
    list-style-type: none;
    margin: auto;
    padding: 1px;
}

#gallery li {
    margin-bottom: 1px;
}

#gallery img {
    display: block;
}
