body {
    max-width: 810px;
    margin: auto;
}

#gallery {
    list-style-type: none;
    margin: auto;
    padding: 1px;
}

#gallery li {
    margin-bottom: 1px;
}

#gallery li img {
    display: block;
}
