header {
    width: 100%;
}

header, nav, article {
    margin: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0;
    text-align: center;
}

nav ul li a {
    display: block;
}

article {
    clear: both;
}

dl dt {
    font-weight: bold;
    margin: 0 0 5px 0;
}

dl dd {
    margin: 0 0 20px 15px;
}

#profile img {
    display: block;
    float: left;
}

#portfolio a, #portfolio img {
    display: block;
}

#portfolio ul {
    list-style-type: none;
    margin: auto;
}
