body {
    color: #444444;
    font-family: sans-serif;
}

header h1 {
    background: #bb33ee;
    color: #ffffff;
    height: 65px;
    padding: 60px 20px 0 20px;
}

header, nav, article {
    max-width: 840px;
}

h1 {
    font-family: Open Sans, sans-serif;
    font-size: 50px;
    font-weight: 300;
    margin: 0;
    padding: 0
}

p {
    margin-top: 0;
    text-indent: 0em;
    line-height: 1.5em;
}

nav ul {
    background: #eeeeee;
    height: 35px;
}

nav li {
    width: 100px;
}

nav a {
    text-decoration: none;
    margin-right: 1px;
    padding: 10px;
    color: #000000;
}

nav a.target {
    background: #fc3c76;
    color: #ffffff;
    height: 20px;
    border-radius: 0 0 5px 5px;
}

article {
    padding: 20px 20px;
}

#profile img {
    margin-right: 20px;
    margin-bottom: 20px;
}

#portfolio ul {
    padding: 1px;
}

#portfolio li {
    margin-bottom: 1px;
}
